USE [master]
GO
/****** Object:  Database [library]    Script Date: 5/20/2025 11:01:44 AM ******/
CREATE DATABASE [library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\library.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\library_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [library]
GO
/****** Object:  User [DESKTOP-G6B9LKR\Last Wish]    Script Date: 5/20/2025 11:01:44 AM ******/
CREATE USER [DESKTOP-G6B9LKR\Last Wish] FOR LOGIN [DESKTOP-G6B9LKR\Last Wish] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[books]    Script Date: 5/20/2025 11:01:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[book_title] [varchar](255) NOT NULL,
	[author] [varchar](255) NOT NULL,
	[published_date] [date] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[image] [varchar](255) NULL,
	[date_insert] [date] NULL,
	[date_update] [date] NULL,
	[date_delete] [date] NULL,
	[copies] [int] NOT NULL,
	[isbn] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[issues]    Script Date: 5/20/2025 11:01:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[issues](
	[full_name] [varchar](255) NOT NULL,
	[contact] [varchar](50) NULL,
	[email] [varchar](255) NULL,
	[book_title] [varchar](255) NULL,
	[author] [varchar](255) NULL,
	[status] [varchar](50) NULL,
	[issue_date] [date] NOT NULL,
	[return_date] [date] NOT NULL,
	[date_insert] [date] NULL,
	[date_delete] [date] NULL,
	[image] [nvarchar](255) NULL,
	[date_update] [date] NULL,
	[fine] [int] NULL,
	[rollno] [varchar](50) NULL,
	[isbn] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Query]    Script Date: 5/20/2025 11:01:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Query](
	[full_name] [varchar](255) NOT NULL,
	[contact] [varchar](50) NULL,
	[email] [varchar](255) NULL,
	[book_title] [varchar](255) NULL,
	[author] [varchar](255) NULL,
	[status] [varchar](50) NULL,
	[issue_date] [date] NOT NULL,
	[return_date] [date] NOT NULL,
	[date_insert] [date] NULL,
	[date_delete] [date] NULL,
	[image] [date] NULL,
	[date_update] [date] NULL,
	[fine] [int] NULL,
	[rollno] [varchar](50) NULL,
	[isbn] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 5/20/2025 11:01:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[EnrollmentID] [nvarchar](50) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[PhoneNo] [varchar](11) NULL,
	[Email] [varchar](100) NULL,
	[Department] [varchar](100) NULL,
	[Semester] [int] NULL,
	[Gender] [varchar](10) NULL,
	[Image] [varbinary](max) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[EnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 5/20/2025 11:01:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[CNIC] [varchar](20) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[DOB] [date] NULL,
	[Gender] [varchar](10) NULL,
	[Address] [text] NULL,
	[Image] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CNIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/20/2025 11:01:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[date_register] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT (getdate()) FOR [date_insert]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT ((1)) FOR [copies]
GO
ALTER TABLE [dbo].[issues] ADD  DEFAULT (getdate()) FOR [date_insert]
GO
ALTER TABLE [dbo].[issues] ADD  DEFAULT ((0)) FOR [fine]
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD CHECK  (([status]='Damaged' OR [status]='Lost' OR [status]='Issued' OR [status]='Available'))
GO
USE [master]
GO
